body {
    font: 11px helvetica, arial, sans-serif;
    text-align: center;
    align-self: center;    
}

#distance {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px; 
}

#element {
    background: #000;
    color: #fff;
    height: 10px;
    left: 50%;
    margin: -5px 0 0 -5px;
    position: absolute;
    top: 50%;
    width: 10px;
}