

body{
    margin: 0;
    padding: 0;
    background : #ffffff ;
    <script src="script.js"></script>
}
.container
{
    width: 600px;
    height: 450px;
    text-decoration-color: aliceblue;
    margin: 150px auto;
    display: grid;
    grid-template-columns: repeat(5, 120px);
    grid-template-rows: repeat(5, 90px);

}
.container .box
{
    background: #ffffff;
    display: grid;
    box-sizing: border-box;
    border: 1px solid blue;
}

.container .box:hover
{
    background: #2196f3;
    color: #ffffff;
}
.container .box h2
{
    margin: 0;
    padding: 0;
    justify-self: center;
    align-self: center;
    font-family: sans-serif;
    font-size: 30px;

}
.container .box:hover h2
{
    font-size: 60px;
}